.admin_container_header{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

.admin_container_header a{
    text-decoration: none;
}

.admin_container_header h5{
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 5px;
    margin-top: 15px;
    color: #686868;
}

.input_email{
    width: 100%;
    border: 1px solid #232323;
    border-radius: 3px;
    padding: 7px;
    font-size: 1.1rem;
    line-height: 1rem;
    outline-color: #232323;
}

.feedback_input{
    width: 100%;
    border: 1px solid #232323;
    border-radius: 3px;
    height: 250px;
    padding: 7px;
    font-size: 1.1rem;
    line-height: 1rem;
    outline-color: #232323;
    resize: none;
}

