.admin_container_header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.admin_edit_user_container{
    width: 50%;
}

.input_category{
    width: 100%;
    border: 1px solid #232323;
    border-radius: 3px;
    padding: 7px;
    line-height: 1rem;
    outline-color: #232323;
}

.admin_container_header h5{
    width: 100%;
    text-align: left;
    font-size: 1rem;
    padding-bottom: 5px;
    margin-top: 15px;
    color: #686868;
}

.admin_checkbox{
    margin-top: 15px;
    display: flex;
    gap: 5px;
}
