.admin_container_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.shopName_input{
    width: 60%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 5px;
    outline-color: #232323;
    border-radius: 5px;
}

.shop_desc_container{
    width: 60%;
}

.admin_container_header h5{
    margin-top: 5px;
    font-size: 1.2rem;
    color: #686868;
}

.desc_text{
    margin-top: 5px;
    width: 100%;
    outline-color: #232323;
    font-size: 1rem;
    padding: 5px;
    line-height: 1.2rem;
    resize: none;
    height: 150px;
    border-radius: 5px;
}

.select_shop_img_container{
    width: 60%;
    border: 1px solid #232323;
    border-radius: 5px;
}

.select_img_input{
    width: 80%;
    height: 100%;
    font-size: 1.1rem;
}

.select_img_label{
    height: 100%;
    width: 20%;
    font-size: 1.1rem;
    text-align: center;
}

.contact_container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.contact{
    padding: 2px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #232323;
    border-radius: 5px;
}

.contact_input{
    border: 1px solid #232323;
    border-radius: 5px;
    padding: 3px;
    width: 90%;
    line-height: 1.3rem;
    outline-color: #232323;
}

.icon{
    font-size: 1.2rem;
    max-width: 10%;
}

.select_category{
    font-size: 1.2rem;
}
