.admin_table_header{
    width: 90%;
    margin-top: 5px;
    display: flex;
    border-bottom: 1px solid #686868;
}

.admin_table_id{
    width: 10%;
    display: block;
    padding: 15px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.admin_table_login{
    width: 20%;
}

.admin_table_email{
    width: 30%;
}

.admin_table_role{
    width: 15%;
}

.admin_table_control{
    width: 25%;
}

.admin_table_control, .admin_table_role, .admin_table_email, .admin_table_login{
    display: block;
    padding: 15px;
    font-size: 1rem;
    text-align: left;
}

.bold{
    font-weight: bold;
}