.last_reviews_container{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:15px
}

.last_reviews_container h3{
    font-size: 2rem;
    color: #686868;
}

.last_reviews_container h3:first-child{
    padding-bottom: 30px;
}

.last_reviews_container h3:last-child{
    margin-top: 30px;
}

.review_main{
    display: flex;
    width: 80%;
    background: #ffffff;
    border-radius: 5px;
    padding: 7px;
}

.img_review{
    padding-right: 15px;
    border-radius: 5px;
    width: 10%;
    max-width: 80px;
    max-height: 80px;
}

.review_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review_main_desc{
    font-size: 0.8rem;
}

.review_main_header{
    width: 100%;
    display: flex;
    height: 30%;
    align-items: center;
}

.review_main_header a{
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: #272727;
}

.review_main_header a:hover{
    text-decoration: underline;
}

.review_main_rating{
    margin-left: auto;
}

.review_icon {
    margin-left: 30px;
    padding-right: 3px;
}

.review_author{
    font-size: 1rem;
    margin-right: 30px;
}
