main{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.single_shop_container{
    width: 80%;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: #686868;
    margin: 30px auto;
}

.single_shop_header{
    font-size: 1.5rem;
}

.single_shop {
    display: flex;
    margin-top: 10px;
}

.single_shop_info {
    margin-left: 15px;
}

.single_shop_img {
    max-width: 25%;
    max-height: 25%;
    border-radius: 5px;
}

.single_shop_category {
    margin-top: 10px;
}

.single_shop_description {
    margin-top: 10px;
}

.single_shop_contacts {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.single_shop_social {
    margin-top: 10px;
}

.shop_social {
    border: 1px solid grey;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: all 0.4s;
    color: #686868;
}

.shop_social:hover {
    transition: all 0.4s;
    margin-left: 10px;
    color: #272727;
}


.add_review_container {
    width: 80%;
    background: #ffffff;
    margin: 0 auto 30px;
    border-radius: 5px;
    padding: 15px;
}

.review_add_header {
    font-size: 1rem;
    color: #686868;
}

.add_review_input {
    margin-top: 3px;
    width: 50%;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding: 7px;
    color: #303036;
    outline-color: #272727;
}

.add_review_text {
    margin-top: 3px;
    width: 50%;
    height: 120px;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding: 7px;
    color: #303036;
    resize: none;
    outline-color: #272727;
}

.shop_rating {
    margin-top: 15px;
    font-size: 1.5rem;
}

.add_review{
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 7px 20px 7px 20px;
    background: #686868;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid grey;
    transition: all 0.4s linear;
}

.add_review:hover{
    transition: all 0.4s linear;
    background: #ffffff;
    color: #686868;
}

.reviews_container{
    width: 80%;
    margin: 0 auto 30px;
}

.reviews_container h2{
    font-size: 2rem;
    padding-bottom: 15px;
}

.review{
    background: #ffffff;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.review_icon{
    font-size: 1.2rem;
}

.review_header{
    padding-bottom: 5px;
    width: 43%;
    display: flex;
    border-bottom: 1px solid #686868;
    align-items: center;
}

.review_author{
    font-size: 1.2rem;
    margin-left: 10px;
}

.review_rating{
    font-size: 1rem;
    margin-left: 25px;
    display: flex;
    gap: 5px;
}

.review_time{
    font-size: 0.8rem;
    margin-left: 25px;
}

.review_title{
    color: #686868;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}

.review_text{
    color: #686868;
    margin-top: 10px;
    font-size: 0.9rem;
}

.req_auth_text{
    color: #686868;
    font-size: 1.3rem;
}

.req_auth_text a{
    color: #232323;
}
