.shop_container{
    width: 70%;
}

.shop{
    display: flex;
    padding-bottom: 20px;
}

.shop_img{
    max-width: 30%;
}

.shop_text{
    width: 65%;
    background-color: #ffffff;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop_title{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.shop_title a{
    text-decoration: none;
    color:inherit;
}

.shop_title a:hover{
    text-decoration: underline;
}

.shop_description{
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.shop_tags{
    padding-bottom: 10px;
}

.shop_rating{
    padding-bottom: 10px;
}

.add_review_btn{
    width: 35%;
    display: block;
    padding: 7px 20px 7px 20px;
    border-radius: 3px;
    border: 1px solid grey;
    transition: all 0.4s linear;
    background: #ffffff;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: #232323;
}

.add_review_btn:hover{
    transition: all 0.4s linear;
    background: grey;
    color: white;
}



