* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body{
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.active{
    color: gold;
}

.langDrop:hover {
    display: block;
}

.langMain:hover .langDrop {
    display: block;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
