.admin_table_header{
    width: 80%;
    margin-top: 5px;
    display: flex;
    border-bottom: 1px solid #686868;
}

.admin_table_id{
    font-size: 1rem;
    width: 10%;
    display: block;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.admin_table_name{
    font-size: 1rem;
    display: block;
    padding: 15px;
    text-align: left;
    width: 50%;
}

.admin_table_control{
    font-size: 1rem;
    display: block;
    padding: 15px;
    text-align: left;
    width: 40%;
}

.admin_table_edit{
    text-decoration: none;
    color: #006669;
}

.admin_table_delete{
    text-decoration: none;
    color: #FF0000;
    margin-left: 50px;
}

.bold{
    font-weight: bold;
}
