.footer{
    width: 100%;
    margin-top: 30px;
    background: #303036;
}

.footer_container{
    padding: 20px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.footer_info_container{
    width: 35%;
}

.footer_info_header, .quick_links_header, .feedback_header{
    font-size: 1.8rem;
    color: #ececec;
}

.footer_info_desc{
    margin-top: 15px;
    font-size: 0.8rem;
    color: #ececec;
}

.footer_contacts{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 7px;
    color: #ececec;
}

.footer_social{
    margin-top: 15px;
}

.social{
    border: 1px solid grey;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 5px;
    color: #ececec;
    transition: all 0.4s;
}

.social:hover{
    color: #ffffff;
    margin-left: 10px;
    transition: 0.4s;
}

.quick_links_container{
    margin-left: 30px;
    width: 20%;
}

.quick_links_list{
    display: flex;
    flex-direction: column;
    gap:10px;
    color: #ececec;
    margin-top: 30px;
    margin-left: 30px;
}

.quick_link{
    display: block;
    font-size: 1.2rem;
    color: #ececec;
    transition: all 0.4s;
    text-decoration: none;
}

.quick_link:hover{
    color: #ffffff;
    margin-left: 15px;
    transition: all 0.4s;
}

.feedback_container{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.feedback_email{
    margin-top: 15px;
    display: block;
    padding: 10px 12px;
    border-radius: 3px;
    border: 1px solid #343a40;
    line-height: 1.5rem;
    font-size: 1rem;
    background: #272727;
    color: lightgrey;
    width: 100%;
}

.feedback_text{
    margin-top: 5px;
    display: block;
    padding: 10px 12px;
    border-radius: 3px;
    border: 1px solid #343a40;
    line-height: 1.5rem;
    font-size: 1rem;
    background: #272727;
    color: lightgrey;
    width: 100%;
    resize: none;
}

.feedback_btn{
    cursor: pointer;
    margin-top: 5px;
    height: 50px;
    background: #272727;
    color: #686868;
    text-align: center;
    float: right;
    font-size: 1.1rem;
    border: 1px solid #272727;
    border-radius: 3px;
    width: 70%;
    transition: all 0.4s;
}

.feedback_btn:hover{
    transition: 0.4s;
    color: #ececec;
}

.footer_credits{
    width: 100%;
    text-align: center;
    background: #272727;
    color: lightgrey;
    padding: 1.2rem 0;
    font-size: 1.2rem;
}
