.header{
    background: aquamarine;
    height: 70px;
}

.navbar{
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #5c5b5b;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.navigation{
    display: flex;
    align-items: center;
}

.navigation ul{
    text-decoration: none;
    list-style-type: none;
}

.nav-btn{
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 1.2rem;
    padding: 10px;
}

.nav-btn:hover{
    background: aqua;
    transition: 0.5s;
    color: inherit;
}

li{
    float: left;
    position: relative;
}

.cabinet-btns{
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
    width: 160px;
    z-index: 100;
}

.nav-btn:hover + .cabinet-btns{
    display: block;
}

.cabinet-btns:hover{
    display: block;
}




