.reg_container{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
}

.reg_header{
    text-align: center;
    font-size: 2rem;
    color: #686868;
    padding-bottom: 10px;
}

.reg_label{
    margin-top: 20px;
    color: #686868;
    padding-bottom: 5px;
    font-size: 1.2rem;
}

.reg_input{
    font-size: 1rem;
    line-height: 2rem;
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding: 5px 5px 5px 15px;
    color: #303036;
}

.reg_btns_container{
    margin-top: 20px;
}

.reg_btn{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 7px 14px 7px 14px;
    background: #686868;
    color: #ececec;
    border-radius: 3px;
    border: 1px solid grey;
    transition: all 0.4s;
}

.reg_btn:hover{
    transition: all 0.4s;
    color: #272727;
    background: #f5f5f5;
    border: 1px solid #272727;
}

.login_href{
    font-size: 1.2rem;
    color: #686868;
    text-decoration: underline;
    transition: all 0.4s;
    margin-left: 40px;
}

.login_href:hover{
    transition: all 0.4s;
    font-weight: bold;
    margin-left: 55px;
}

